.testSample {
    /* font-style: ; */
    font-size: xx-large;
    color: black;
    margin-left: 15px;
    font-weight: 500;

    /* border-left: 5px solid red; */
}

.imageStyles {
    position: relative;
    width: max-content;
    height: 700px;
    margin: 20px;
}

.testFirst {
    border-radius: 20px;
    box-shadow: 0 4px 20px rgb(184 184 209 / 83%);
    margin: 20px;
    padding: 10px;
    margin-right: 30px;
    border: 1px solid darkgray;
}